<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
          package="" 
          android:versionCode="0092" 
          android:versionName="0.9b2">
  <uses-sdk android:minSdkVersion="10" />
  <application android:label="DefenseMania"
               android:icon="@drawable/icon"
               android:debuggable="true"
               android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
    <activity android:name="">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
